.btn {
  border: 0;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: 0.5rem;

  font-size: var(--fs-base);
  line-height: 1.5rem;
  font-weight: var(--fw-md);
  font-family: var(--ff-inter);

  background-color: var(--text-color-primary);
  color: var(--background-color);
}
.btn:hover {
  background: var(--brand-gradient);
  color: var(--surface-color);
}
.btn-sm {
  padding: 0.5rem 1rem;
  font-size: var(--fs-sm);
}
.btn-md {
  padding: 0.75rem 1.5rem;
  font-size: var(--fs-base);
}
.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}
.btn[aria-label] {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 1.5px;
    background-color: var(--background-color);
  }
  &::after {
    content: attr(aria-label);
    color: transparent;
    background: var(--brand-gradient);
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 1;
    /*
    */
  }
}
