#hero {
  text-align: center;

  & img[src*="music"] {
    width: 12.875rem;
  }
  h1 {
    margin-top: 1rem;
  }
  & p {
    font-weight: var(--fw-md);
    font-size: var(--fs-lg);
    line-height: 1.4;
    color: var(--text-color-secondary);
    margin-top: 0.5rem;
  }
  & .buttons {
    justify-content: center;
    margin-top: 2rem;
  }
}
@media (width >= 80em) {
  #hero {
    background: url(../assets/images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding-bottom: 20rem;

    & img[src*="music"] {
      width: 25.75rem;
    }
    h1 {
      margin-top: 1.5rem;
    }
    p {
      margin-top: 1rem;
      font-size: 2.5rem;
    }
    .buttons {
      margin-top: 3rem;
    }
  }
}
